.filter {
  text-align: center;
  margin: 100px;
}

.filter button {
  margin: 5px;
  padding: 8px 15px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.filter button:hover {
  background: gray;
}

.products {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  background: #f4f4f4;
}

.product-card {
  background: white;
  width: 260px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: green;
}

button {
  width: 50%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(135deg, #00c853, #009624);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 19px;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

button:disabled {
  background: gray;
  cursor: not-allowed;
}
